*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 10px;
}

input,label{
    display: block;
    padding: 5px;
}
label{
    color: blue;
}
input{
    width: 100%;
}
.submit{
    margin: 15px auto 0 auto;
    width: 40%;
    background-color: grey;
    border-radius: 5px;

}
form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid;
    padding: 15px;
}
.g-recaptcha{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}